* {
    margin: 0;
    padding: 0;
}
body{
    margin: 2%;
}
#datos,#content div{
    margin-bottom: 2vh;
}

h1{
    margin-bottom: 1.5vh;
}

h2{
    margin-bottom: 1.5vh;
}
p{
    margin-bottom: 1.5vh;
}


/* Diseño a una columna */
@media all and (max-device-width: 600px) {

    #datos li {
        display: inline;
    }

    #datos li:not(:last-child)::after {
        content: ";";
    }
    #content li{
        margin-left: 5%;
    }

}

/* Diseño a dos columnas */
@media all and (max-device-width: 1200px) and (min-device-width: 601px) {
    #main{
        display: flex;
    }
    #datos {
        width: 25%;
    }
    #datos li {
        margin-left: 10%;
    }
    #content{
        margin-left: 5%;
        width: 70%;
    }
    #content li{
        list-style: none;
    }
    #content #ul{
        display: flex;
        
    }

}

/* Diseño a tres columnas */
@media all and (min-device-width: 1201px) {}